# LAB | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [1]:
import pandas as pd
df=pd.read_csv('car_insurance.csv')
df.head()

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize

In [2]:
#1
filtered_df = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]
filtered_df

#no claim amounts over 1000 recorded, hence dataframe empty

Empty DataFrame
Columns: [region, customer_lifetime_value, response, coverage, education, effective_to_date, month, employment_status, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size]
Index: []

[0 rows x 24 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [3]:
response_yes_df = df[df['response'] == 'Yes']
average_claim_by_policy_gender = response_yes_df.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()
print(average_claim_by_policy_gender)

Series([], Name: total_claim_amount, dtype: float64)

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [4]:
customers_by_state = df['state'].value_counts()
states_over_500 = customers_by_state[customers_by_state > 500]
print(states_over_500)

#### MISTAKE. STATE NOT INCLUDED IN THE DATAFRAME

KeyError: 'state'

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [ ]:
grouped_by_education_gender = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median'])
print(grouped_by_education_gender)

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [ ]:
# Convert 'effective_to_date' to datetime if it's not already
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])

# Extract the month from the 'effective_to_date' column
df['month'] = df['effective_to_date'].dt.month

# Create a pivot table with 'state' as rows, 'month' as columns, and count the number of policies
pivot_table = df.pivot_table(index='state', columns='month', aggfunc='size', fill_value=0)

pivot_table

#### SAME ERROR. COLUMN 'STATE'NOT INCLUDED OR MISSING

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [ ]:
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
df['month'] = df['effective_to_date'].dt.month

# Group data by state and month, then count the number of policies
grouped = df.groupby(['month']).size().reset_index(name='policy_count')
grouped

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [5]:
# Filter the DataFrame for "Yes" responses only
df_yes_responses = df[df['response'] == 'Yes']

# Count the number of "Yes" responses by marketing channel
yes_counts_by_channel = df_yes_responses['sales_channel'].value_counts()

# Count the total number of customers by marketing channel
total_counts_by_channel = df['sales_channel'].value_counts()

# Calculate the response rate by dividing the number of "Yes" responses by the total counts
response_rate_by_channel = yes_counts_by_channel / total_counts_by_channel

# Convert to DataFrame for better presentation
response_rate_df = response_rate_by_channel.reset_index(name='response_rate').rename(columns={'index': 'sales_channel'})

response_rate_df

df_yes_responses

Empty DataFrame
Columns: [region, customer_lifetime_value, response, coverage, education, effective_to_date, month, employment_status, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size]
Index: []

[0 rows x 24 columns]