# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
df=pd.read_csv('customer_analysis.csv')
#df.info()
df.head
df.info

#rename dataframe to df_1
df_1 = df
df_1.head

<bound method NDFrame.head of       unnamed:_0 customer       state  customer_lifetime_value response  \
0              0  DK49336     Arizona              4809.216960       No
1              1  KX64629  California              2228.525238       No
2              2  LZ68649  Washington             14947.917300       No
3              3  XL78013      Oregon             22332.439460      Yes
4              4  QA50777      Oregon              9025.067525       No
...          ...      ...         ...                      ...      ...
5493        5493  HW16019      Oregon              7583.189638       No
5494        5494  BV27017  California             17602.511460       No
5495        5495  OF46381  California              7659.717220       No
5496        5496  WN14473     Arizona              2882.350556       No
5497        5497  QS35019  California             14435.673650       No

      coverage             education effective_to_date employmentstatus  \
0        Basic               College        2011-02-18         Employed
1        Basic               College        2011-01-18       Unemployed
2        Basic              Bachelor        2011-02-10         Employed
3     Extended               College        2011-01-11         Employed
4      Premium              Bachelor        2011-01-17    Medical Leave
...        ...                   ...               ...              ...
5493     Basic              Bachelor        2011-02-08         Disabled
5494   Premium               College        2011-02-06       Unemployed
5495     Basic  High School or Below        2011-02-06       Unemployed
5496     Basic                Master        2011-02-17         Employed
5497   Premium                Master        2011-01-26         Employed

     gender  ...  number_of_policies     policy_type        policy  \
0         M  ...                   9  Corporate Auto  Corporate L3
1         F  ...                   1   Personal Auto   Personal L3
2         M  ...                   2   Personal Auto   Personal L3
3         M  ...                   2  Corporate Auto  Corporate L3
4         F  ...                   7   Personal Auto   Personal L2
...     ...  ...                 ...             ...           ...
5493      M  ...                   2   Personal Auto   Personal L1
5494      F  ...                   2  Corporate Auto  Corporate L1
5495      M  ...                   2   Personal Auto   Personal L2
5496      M  ...                   1   Personal Auto   Personal L3
5497      M  ...                   2   Personal Auto   Personal L2

      renew_offer_type  sales_channel  total_claim_amount  vehicle_class  \
0               Offer3          Agent          292.800000  Four-Door Car
1               Offer4    Call Center          744.924331  Four-Door Car
2               Offer3    Call Center          480.000000            SUV
3               Offer2         Branch          484.013411  Four-Door Car
4               Offer1         Branch          707.925645  Four-Door Car
...                ...            ...                 ...            ...
5493            Offer4    Call Center           76.026046   Two-Door Car
5494            Offer1          Agent          772.800000            SUV
5495            Offer1          Agent          525.600000   Two-Door Car
5496            Offer2    Call Center          204.448708   Two-Door Car
5497            Offer1          Agent          109.900000            NaN

      vehicle_size vehicle_type month
0          Medsize            A   2.0
1          Medsize            A   1.0
2          Medsize            A   2.0
3          Medsize            A   1.0
4          Medsize            A   1.0
...            ...          ...   ...
5493       Medsize            A   2.0
5494       Medsize            A   2.0
5495         Small            A   2.0
5496       Medsize            A   2.0
5497           NaN          NaN   NaN

[5498 rows x 27 columns]>

In [2]:
# getting file 2

# URL of the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(url)
df_2= df

# Print the info of the DataFrame
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

In [3]:
#getting file 3


# URL of the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(url)
df_3 = df

# Print the info of the DataFrame
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   7070 non-null   object
 1   State                      7070 non-null   object
 2   Customer Lifetime Value    7070 non-null   float64
 3   Education                  7070 non-null   object
 4   Gender                     7070 non-null   object
 5   Income                     7070 non-null   int64
 6   Monthly Premium Auto       7070 non-null   int64
 7   Number of Open Complaints  7070 non-null   int64
 8   Policy Type                7070 non-null   object
 9   Total Claim Amount         7070 non-null   float64
 10  Vehicle Class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB

In [4]:
# Data cleaning: One option is to first combine the three datasets and
#then apply the cleaning function to the new combined dataset

combined_df = pd.concat([df_1, df_2, df_3], ignore_index=True)
combined_df.info

<bound method DataFrame.info of        unnamed:_0 customer       state  customer_lifetime_value response  \
0             0.0  DK49336     Arizona              4809.216960       No
1             1.0  KX64629  California              2228.525238       No
2             2.0  LZ68649  Washington             14947.917300       No
3             3.0  XL78013      Oregon             22332.439460      Yes
4             4.0  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
13559         NaN      NaN         NaN                      NaN      NaN
13560         NaN      NaN         NaN                      NaN      NaN
13561         NaN      NaN         NaN                      NaN      NaN
13562         NaN      NaN         NaN                      NaN      NaN
13563         NaN      NaN         NaN                      NaN      NaN

       coverage education effective_to_date employmentstatus gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
13559       NaN       NaN               NaN              NaN    NaN  ...
13560       NaN       NaN               NaN              NaN    NaN  ...
13561       NaN       NaN               NaN              NaN    NaN  ...
13562       NaN       NaN               NaN              NaN    NaN  ...
13563       NaN       NaN               NaN              NaN    NaN  ...

       Education Customer Lifetime Value   Income  Monthly Premium Auto  \
0            NaN                     NaN      NaN                   NaN
1            NaN                     NaN      NaN                   NaN
2            NaN                     NaN      NaN                   NaN
3            NaN                     NaN      NaN                   NaN
4            NaN                     NaN      NaN                   NaN
...          ...                     ...      ...                   ...
13559   Bachelor             23405.98798  71941.0                  73.0
13560    College             3096.511217  21604.0                  79.0
13561   Bachelor             8163.890428      0.0                  85.0
13562    College             7524.442436  21941.0                  96.0
13563    College             2611.836866      0.0                  77.0

       Number of Open Complaints  Total Claim Amount     Policy Type  \
0                            NaN                 NaN             NaN
1                            NaN                 NaN             NaN
2                            NaN                 NaN             NaN
3                            NaN                 NaN             NaN
4                            NaN                 NaN             NaN
...                          ...                 ...             ...
13559                          0          198.234764   Personal Auto
13560                          0          379.200000  Corporate Auto
13561                          3          790.784983  Corporate Auto
13562                          0          691.200000   Personal Auto
13563                          0          369.600000  Corporate Auto

       Vehicle Class       State Gender
0                NaN         NaN    NaN
1                NaN         NaN    NaN
2                NaN         NaN    NaN
3                NaN         NaN    NaN
4                NaN         NaN    NaN
...              ...         ...    ...
13559  Four-Door Car  California      M
13560  Four-Door Car  California      F
13561  Four-Door Car  California      M
13562  Four-Door Car  California      M
13563   Two-Door Car  California      M

[13564 rows x 40 columns]>

# Challenge 2: Structuring Data

In [5]:
#as done earlier
## Assuming df_1, df_2, df_3 are already loaded and ready

# Concatenate the DataFrames
combined_df = pd.concat([df_1, df_2, df_3], ignore_index=True)

# Display the structure of the concatenated DataFrame
combined_df.info()

# Optionally, you can inspect the first few rows to confirm it looks as expected
print(combined_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13564 entries, 0 to 13563
Data columns (total 40 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     5498 non-null   float64
 1   customer                       5498 non-null   object
 2   state                          5498 non-null   object
 3   customer_lifetime_value        5498 non-null   float64
 4   response                       5498 non-null   object
 5   coverage                       5498 non-null   object
 6   education                      5498 non-null   object
 7   effective_to_date              5498 non-null   object
 8   employmentstatus               5498 non-null   object
 9   gender                         5498 non-null   object
 10  income                         5498 non-null   float64
 11  location_code                  5498 non-null   object
 12  marital_status                 5498 non-null   object
 13  monthly_premium_auto           5498 non-null   float64
 14  months_since_last_claim        5498 non-null   float64
 15  months_since_policy_inception  5498 non-null   float64
 16  number_of_open_complaints      5498 non-null   float64
 17  number_of_policies             5498 non-null   float64
 18  policy_type                    5498 non-null   object
 19  policy                         5498 non-null   object
 20  renew_offer_type               5498 non-null   object
 21  sales_channel                  5498 non-null   object
 22  total_claim_amount             5498 non-null   float64
 23  vehicle_class                  5497 non-null   object
 24  vehicle_size                   5497 non-null   object
 25  vehicle_type                   5497 non-null   object
 26  month                          5497 non-null   float64
 27  Customer                       8066 non-null   object
 28  ST                             996 non-null    object
 29  GENDER                         991 non-null    object
 30  Education                      8066 non-null   object
 31  Customer Lifetime Value        8062 non-null   object
 32  Income                         8066 non-null   float64
 33  Monthly Premium Auto           8066 non-null   float64
 34  Number of Open Complaints      8066 non-null   object
 35  Total Claim Amount             8066 non-null   float64
 36  Policy Type                    8066 non-null   object
 37  Vehicle Class                  8066 non-null   object
 38  State                          7070 non-null   object
 39  Gender                         7070 non-null   object
dtypes: float64(13), object(27)
memory usage: 4.1+ MB
   unnamed:_0 customer       state  customer_lifetime_value response  \
0         0.0  DK49336     Arizona              4809.216960       No
1         1.0  KX64629  California              2228.525238       No
2         2.0  LZ68649  Washington             14947.917300       No
3         3.0  XL78013      Oregon             22332.439460      Yes
4         4.0  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   Education Customer Lifetime Value Income  Monthly Premium Auto  \
0        NaN                     NaN    NaN                   NaN
1        NaN                     NaN    NaN                   NaN
2        NaN                     NaN    NaN                   NaN
3        NaN                     NaN    NaN                   NaN
4        NaN                     NaN    NaN                   NaN

   Number of Open Complaints  Total Claim Amount  Policy Type  Vehicle Class  \
0                        NaN                 NaN          NaN            NaN
1                        NaN                 NaN          NaN            NaN
2                        NaN                 NaN          NaN            NaN
3                        NaN                 NaN          NaN            NaN
4                        NaN                 NaN          NaN            NaN

  State Gender
0   NaN    NaN
1   NaN    NaN
2   NaN    NaN
3   NaN    NaN
4   NaN    NaN

[5 rows x 40 columns]

In [6]:
# Remove all duplicate rows in the DataFrame
combined_df = combined_df.drop_duplicates()

# Verify changes by displaying the info of the DataFrame
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13564 entries, 0 to 13563
Data columns (total 40 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     5498 non-null   float64
 1   customer                       5498 non-null   object
 2   state                          5498 non-null   object
 3   customer_lifetime_value        5498 non-null   float64
 4   response                       5498 non-null   object
 5   coverage                       5498 non-null   object
 6   education                      5498 non-null   object
 7   effective_to_date              5498 non-null   object
 8   employmentstatus               5498 non-null   object
 9   gender                         5498 non-null   object
 10  income                         5498 non-null   float64
 11  location_code                  5498 non-null   object
 12  marital_status                 5498 non-null   object
 13  monthly_premium_auto           5498 non-null   float64
 14  months_since_last_claim        5498 non-null   float64
 15  months_since_policy_inception  5498 non-null   float64
 16  number_of_open_complaints      5498 non-null   float64
 17  number_of_policies             5498 non-null   float64
 18  policy_type                    5498 non-null   object
 19  policy                         5498 non-null   object
 20  renew_offer_type               5498 non-null   object
 21  sales_channel                  5498 non-null   object
 22  total_claim_amount             5498 non-null   float64
 23  vehicle_class                  5497 non-null   object
 24  vehicle_size                   5497 non-null   object
 25  vehicle_type                   5497 non-null   object
 26  month                          5497 non-null   float64
 27  Customer                       8066 non-null   object
 28  ST                             996 non-null    object
 29  GENDER                         991 non-null    object
 30  Education                      8066 non-null   object
 31  Customer Lifetime Value        8062 non-null   object
 32  Income                         8066 non-null   float64
 33  Monthly Premium Auto           8066 non-null   float64
 34  Number of Open Complaints      8066 non-null   object
 35  Total Claim Amount             8066 non-null   float64
 36  Policy Type                    8066 non-null   object
 37  Vehicle Class                  8066 non-null   object
 38  State                          7070 non-null   object
 39  Gender                         7070 non-null   object
dtypes: float64(13), object(27)
memory usage: 4.1+ MB

In [7]:
combined_df = combined_df.drop(columns=['GENDER', 'ST', 'Customer', 'Education', 'Total Claim Amount', 'Policy Type', 'Vehicle Class','gender'])

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [8]:
# pulling up new dastaset
#getting file 4


# URL of the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(url)
df_4 = df

# Print the info of the DataFrame
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [11]:
#???????#
# WHY DOES THIS ERROR OCCUR
Pivot table for total revenue by sales channel
pivot_sales_channel = combined_df.pivot_table(values='sales_channel', index='sales_channel', aggfunc='sum').round(2)

print(pivot_sales_channel)

ValueError: Grouper for 'sales_channel' not 1-dimensional

#2. #Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

revenue_by_channel = df.pivot_table(
    index='sales_channel',
    values='total_revenue',
    aggfunc=sum,
)

revenue_by_channel = revenue_by_channel.round(2)  # Round to 2 decimal places

print(revenue_by_channel)

In [ ]:
revenue_by_channel = df.pivot_table( index='sales_channel', values='total_revenue', aggfunc=sum, )
revenue_by_channel = revenue_by_channel.round(2) # Round to 2 decimal places
print(revenue_by_channel)

In [ ]:
# pivot3_df=df.pivot_table(index=['gender'], columns='education', values =[]).......uncompleted

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [10]:
summary_table = combined_df.pivot_table(values='number_of_open_complaints', 
                                        index=['policy_type', 'month'], 
                                        aggfunc='sum',
                                        fill_value=0).reset_index()

print(summary_table)

      policy_type  month  number_of_open_complaints
0  Corporate Auto    1.0                 230.217476
1  Corporate Auto    2.0                 199.833220
2   Personal Auto    1.0                 890.184782
3   Personal Auto    2.0                 702.726477
4    Special Auto    1.0                  39.921281
5    Special Auto    2.0                  51.537024