# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

### To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

#*Hint*:
#- *Column names should be in lower case*
#- *White spaces in column names should be replaced by `_`*
#- *`st` could be replaced for `state`*

In [1]:
import pandas as pd
df=pd.read_csv('customer_analysis.csv')
df.info()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5498 entries, 0 to 5497
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     5498 non-null   int64
 1   customer                       5498 non-null   object
 2   state                          5498 non-null   object
 3   customer_lifetime_value        5498 non-null   float64
 4   response                       5498 non-null   object
 5   coverage                       5498 non-null   object
 6   education                      5498 non-null   object
 7   effective_to_date              5498 non-null   object
 8   employmentstatus               5498 non-null   object
 9   gender                         5498 non-null   object
 10  income                         5498 non-null   int64
 11  location_code                  5498 non-null   object
 12  marital_status                 5498 non-null   object
 13  monthly_premium_auto           5498 non-null   int64
 14  months_since_last_claim        5498 non-null   float64
 15  months_since_policy_inception  5498 non-null   int64
 16  number_of_open_complaints      5498 non-null   float64
 17  number_of_policies             5498 non-null   int64
 18  policy_type                    5498 non-null   object
 19  policy                         5498 non-null   object
 20  renew_offer_type               5498 non-null   object
 21  sales_channel                  5498 non-null   object
 22  total_claim_amount             5498 non-null   float64
 23  vehicle_class                  5497 non-null   object
 24  vehicle_size                   5497 non-null   object
 25  vehicle_type                   5497 non-null   object
 26  month                          5497 non-null   float64
dtypes: float64(5), int64(5), object(17)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5498 entries, 0 to 5497
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     5498 non-null   int64
 1   customer                       5498 non-null   object
 2   state                          5498 non-null   object
 3   customer_lifetime_value        5498 non-null   float64
 4   response                       5498 non-null   object
 5   coverage                       5498 non-null   object
 6   education                      5498 non-null   object
 7   effective_to_date              5498 non-null   object
 8   employmentstatus               5498 non-null   object
 9   gender                         5498 non-null   object
 10  income                         5498 non-null   int64
 11  location_code                  5498 non-null   object
 12  marital_status                 5498 non-null   object
 13  monthly_premium_auto           5498 non-null   int64
 14  months_since_last_claim        5498 non-null   float64
 15  months_since_policy_inception  5498 non-null   int64
 16  number_of_open_complaints      5498 non-null   float64
 17  number_of_policies             5498 non-null   int64
 18  policy_type                    5498 non-null   object
 19  policy                         5498 non-null   object
 20  renew_offer_type               5498 non-null   object
 21  sales_channel                  5498 non-null   object
 22  total_claim_amount             5498 non-null   float64
 23  vehicle_class                  5497 non-null   object
 24  vehicle_size                   5497 non-null   object
 25  vehicle_type                   5497 non-null   object
 26  month                          5497 non-null   float64
dtypes: float64(5), int64(5), object(17)
memory usage: 1.1+ MB

In [2]:
def standardize_column_names(customer_analysis):
    # Convert to lowercase 
    customer_analysis.columns = customer_analysis.columns.str.lower() 
   
    # Replace spaces with underscores
    customer_analysis.columns = customer_analysis.columns.str.replace(" ", "_")  
    
     # Remove non-word characters
    customer_analysis.columns = customer_analysis.columns.str.replace(r"[^\w]", "", regex=True)
    
     # Replace "st" with "state" 
    customer_analysis.columns = customer_analysis.columns.str.replace("st", "state")  # Replace "st" with "state" (optional)
  
    return customer_analysis

# Apply the standardization function
standardize_column_names(customer_analysis)

# Print the standardized DataFrame
print(customer_analysis.columns)

NameError: name 'customer_analysis' is not defined

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
# customer_analysis = df
#df shortened for quicker referencing and writing

# making changes to the gender for uniformity
def clean_gender(df):
    df['gender'] = df['gender'].replace({'Femal': 'F', 'female': 'F', 'Male': 'M'}).str.upper()

# Clean the State column
def clean_state(df):
    state_mapping = {
        'AZ': 'Arizona',
        'Cali': 'California',
        'WA': 'Washington'
    }
    df['state'] = df['state'].replace(state_mapping)

# Clean the education column
def clean_education(df):
    df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})

# Clean the Customer Lifetime Value column
def clean_customer_lifetime_value(df):
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '').astype(float)

# Clean the Vehicle Class column
def clean_vehicle_class(df):
    luxury_replacements = ['Sports Car', 'Luxury SUV', 'Luxury Car']
    df['vehicle_class'] = df['vehicle_class'].replace(luxury_replacements, 'Luxury')

# Apply all cleaning functions
def clean_data(df):
    clean_gender(df)
    clean_state(df)
    clean_education(df)
    clean_customer_lifetime_value(df)
    clean_vehicle_class(df)

print(df)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
#making customer_lifetime _value numeric 
df = pd.DataFrame({
    'customer_lifetime_value': ['1,000', '2,500', '3,000', '1,500'],
    'number_of_open_complaints': ['0/1/2023', '2/1/2023', 'N/A', '3/1/2023'],
})

# Clean customer lifetime value
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace(',', '')
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'])
df.info()

In [ ]:
#Number of open complaints has an incorrect format. 
#Look at the different values it takes with unique() and take the middle value.
#As an example, 1/5/00 should be 5. Number of open complaints is a string - 
#remember you can use split() to deal with it and take the number you need.
#Finally, since it should be numeric, cast the column to be in its proper type.

def clean_complaints(complaint):
    if complaint == 'N/A':
        return 0
    else:
        return int(complaint.split('/')[1])

df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(clean_complaints)

# Print the cleaned DataFrame
print(df)

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [ ]:
# to drop columns /rows with null values
null_values_after = df.isnull().sum()
print(null_values_after[null_values_after > 0])

In [ ]:
print(df.info())

In [ ]:
# Fill missing values in 'customer_lifetime_value' with the mean
df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean(), inplace=True)

In [ ]:
#  Dropping rows with missing values in 'state'
df.dropna(subset=['state'], inplace=True)

In [ ]:
#crosschecking
print(df.isnull().sum())

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
#dropping all duplicate rows:

df= df.drop_duplicates()


# to keep only first occurrence:

df = df.drop_duplicates(keep='first')


# for Keeping last occurrence:

df = df.drop_duplicates(keep='last')


# dropping using subset
subset_columns = ['customer', 'state']  
df = df.drop_duplicates(subset=subset_columns)


# to drop specific column:

df = df.drop_duplicates(subset=['customer'])

df(columns)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# data_cleaning.py

import pandas as pd

def clean_gender(df):
    df['gender'] = df['gender'].replace({'Femal': 'F', 'female': 'F', 'Male': 'M'}).str.upper()
    return df

def clean_state(df):
    state_mapping = {'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}
    df['state'] = df['state'].replace(state_mapping)
    return df

def clean_education(df):
    df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})
    return df

def clean_customer_lifetime_value(df):
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '').astype(float)
    return df

def clean_vehicle_class(df):
    luxury_replacements = ['Sports Car', 'Luxury SUV', 'Luxury Car']
    df['vehicle_class'] = df['vehicle_class'].replace(luxury_replacements, 'Luxury')
    return df

def clean_number_of_open_complaints(df):
    df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1].astype(int)
    return df

def drop_duplicates(df):
    df = df.drop_duplicates()
    return df

def handle_missing_values(df):
    # Example: fill missing values for a numerical column with the median
    # df['numerical_column'] = df['numerical_column'].fillna(df['numerical_column'].median())
    return df

def convert_numeric_to_int(df):
    for col in df.select_dtypes(include=['float64', 'float32']).columns:
        df[col] = df[col].fillna(0).astype(int)
    return df

def main_cleaning_function(df):
    df = clean_gender(df)
    df = clean_state(df)
    df = clean_education(df)
    df = clean_customer_lifetime_value(df)
    df = clean_vehicle_class(df)
    df = clean_number_of_open_complaints(df)
    df = drop_duplicates(df)
    df = handle_missing_values(df)
    df = convert_numeric_to_int(df)
    return df

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here